@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/HomeStyle")
<div id="tras">

    <section class="sidebar col-lg-4">
        <h1>ASP.NET</h1>
    </section>

    <section class="main col col-lg-8">
        <p class="fontColor">

            ASP.NET is a free web framework for building great Web sites

            and Web applications using HTML, CSS and JavaScript.

            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that

            enables a clean separation of concerns and gives you full control over markup

            for enjoyable, agile development.
        </p>
    </section>

</div><!--class tras transparency .6-->
<!--navbar-->
<div id="navbar">

    @RenderPage("../Shared/_Navbar.cshtml")
</div>
<div class="container-fluid">

    <section class="row">

        <section class="main col">

        @RenderPage("../Shared/_cursal.cshtml")
        </section><!--col lg-8-->

        <section class="sidebar col col-lg-4 pull-right hidden-sm hidden-md hidden-xs" >
      

        </section><!--section with col soze 9 lg-->

    </section><!--row-->

    <!--side bar and main section snip it later -->
    <hr style="color:black; " />

    <section class="main col col-lg-10">

   @RenderPage("../Shared/_ImgReviewTable.cshtml")
    </section><!--col-lg-10 base content -->

    <section class="main col col-lg-2 hidden-sm hidden-md hidden-xs pull-right">
        <!--col-lg-2 side content-->
        <p>
            this is side right section with size on lg-2 get show only in lg screen size over 700px
        </p>
    </section>
</div><!--container-fluid-->  
